<template>
    <v-ons-page>
        <div class="notice">
            <v-ons-list>
                <v-ons-list-item>
                    <div class="main">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJA1wZ_-zpEbpBnZireeaHnlGQkoggAP-xRT1PjOzD62BzoLTa" class="img">
                        <div class="request">ああああああ さんがあなたを友達追加しました。</div>
                    </div>
                </v-ons-list-item>
            </v-ons-list>
        </div>
    </v-ons-page>
</template>

<style lang="scss">
    .main{
        display: flex;
        .img{
            width: 3rem;
            height: 3rem;
            border-radius: 50%
        }
        .request{
            margin: 1rem;
        }
    }
</style>
