<template>
    <div class="timeline">
        <v-ons-card>
            <div class="entry-top">
                <img src="https://monaca.io/img/logos/download_image_onsenui_02.png" class="img">
                <span class="name">たろー</span>
                <span class="time">14:44</span>
                <span class="setting">
                    <ons-icon
                    icon="fa-cog"
                    @click="$ons.openActionSheet({
                        buttons:['非表示', '通報', 'キャンセル'],
                        cancelable: true, destructive: 2})"
                    >
                    </ons-icon>
                </span>
            </div>
            <div class="entry-bottom">
                <div class="content">
                    ああああああああああああああああああああああ
                </div>
                <img src="https://monaca.io/img/logos/download_image_onsenui_02.png" class="content-img">
                </div>
            </v-ons-card>

              <v-ons-card>
            <div class="entry-top">
                <img src="https://monaca.io/img/logos/download_image_onsenui_02.png" class="img">
                <span class="name">たろー</span>
                <span class="time">14:44</span>
                <span class="setting">
                    <ons-icon
                    icon="fa-cog"
                    @click="$ons.openActionSheet({
                        buttons:['非表示', '通報', 'キャンセル'],
                        cancelable: true, destructive: 2})"
                    >
                    </ons-icon>
                </span>
            </div>
            <div class="entry-bottom">
                <div class="content">
                    ああああああああああああああああああああああ
                </div>
                <!--<img src="https://monaca.io/img/logos/download_image_onsenui_02.png" class="content-img">-->
                </div>
            </v-ons-card>

              <v-ons-card>
            <div class="entry-top">
                <img src="https://monaca.io/img/logos/download_image_onsenui_02.png" class="img">
                <span class="name">たろー</span>
                <span class="time">14:44</span>
                <span class="setting">
                    <ons-icon
                    icon="fa-cog"
                    @click="$ons.openActionSheet({
                        buttons:['非表示', '通報', 'キャンセル'],
                        cancelable: true, destructive: 2})"
                    >
                    </ons-icon>
                </span>
            </div>
            <div class="entry-bottom">
                <div class="content">
                    ああああああああああああああああああああああ
                </div>
                <!--<img src="https://monaca.io/img/logos/download_image_onsenui_02.png" class="content-img">-->
                </div>
            </v-ons-card>
        </div>


</template>

<style lang="scss">
    .timeline{
        background:cornflowerblue;

        .entry-top{
            display:flex;
            justify-content:space-around;
            align-items: center;

            .img{
                width:3.5rem;
                height:3.5rem;
                border-radius:50%;
                }

            .name{
                margin-right: 7rem;
            }

        }

        .entry-bottom{
            margin-top: 1rem;

            .content-img{
                margin-top:1rem;
                width:100%;
                height:100%;
            }

        }
    }
</style>
